body {
    background-color: rgb(44, 44, 44);
}
nav, a, a:visited {
    font-family: sans-serif;
    font-size: x-large;
    color: bisque;
    padding-left: 0.5%;
    padding-bottom: 0.5%;
    padding-top: 0.15%;
    text-decoration: none;

}

.scroll {
    overflow: auto;
}

.all-box {
    background-color: rgb(50, 50, 50);
    width: 350px;
    height: 300px;
    margin:30px;
    padding: 30px;
    border-radius: 25px;
}

#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:rgb(194, 194, 194);
    font-size: 75px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 10px;
}

#browse {
    font-size: 40px;
    position: absolute;
    bottom:70px;
}

.box {
    background-color: rgb(50, 50, 50);
    width: 500px;
    height: 400px;
    margin:30px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 100px 1px rgb(133, 120, 120);
}

nav {
    border-bottom: solid 1px
}

a:hover {
    color:rgb(255, 172, 71);
    text-decoration: underline;
}

a:active {
    color:rgb(255, 140, 0);
}

